.foodtruck {
  height: 500px;
}

.foodtruck-full img {
  height: 500px;
}

.foodtruck-window img {
  height: 138px;
  position: absolute;
  margin-top: -480px;
  margin-left: -125px;
  transition: all 2s linear;
}

.foodtruck-window {
  position: relative;
}

.about-sabich {
  visibility: hidden;
  position: relative;
  margin-left: -1100px;
  display: flex;
  justify-content: center;
}

.foodtruck-container {
  margin-left: 0%;
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
  animation-duration: 3s;
  animation-name: move-truck;
}

.menu {
  visibility: hidden;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.expand {
  transform: scale(2) translate(-65px, 50px);
}

.about {
  position: absolute;
  margin-top: -400px;
  margin-left: 380px;
}

.about h3 {
  font-size: 50px;
}

.about h3:hover {
  color: white;
}

.sabich {
  position: absolute;
  margin-top: -400px;
  margin-left: 730px;
}

.sabich h3 {
  font-size: 50px;
  /* font-family: SabonBol; */
}

.sabich h3:hover {
  color: white;
}

.display-menu {
  visibility: visible;
  animation: 3s ease 0s normal fadein;
}

.about-inner {
  position: absolute;
  visibility: hidden;
  width: 650px;
  text-align: center;
  margin-left: -100px;
  margin-top: -250px;
  background-color: #ffc5c5;
}

.about-inner h3 {
  width: 100%;
  z-index: 1;
}

.about-x-button {
  position: absolute;
  margin-top: -70px;
}

.display-about {
  visibility: visible;
  /* animation: 0.5s linear 0s normal fadein; */
}

.pop-up-menu {
  position: absolute;
  width: 100%;
  margin-top: 10%;
  text-align: center;
}

.lifesabich-logo {
  text-align: center;
  font-size: 175px;
  margin-top: -5%;
  animation: 5s ease 0s normal fadein;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes menu-zoom {
  from {
    transform: scale(1);
    /* margin-left: -125px; */
  }
  to {
  }
}

@font-face {
  font-family: SabonBol;
  src: url("SabonBol.AFM");
}

@keyframes move-truck {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#text {
  font-family: SabonBol;
}

.modal-container {
  position: relative;
}

/* .foodtruck-window {
  background-color: "#ffc5c5";
  position: absolute;
  height: 200px;
  width: 600px;
} */
/*
.modal-about {
  visibility: hidden;
  position: absolute;
  width: 100%;
  margin-top: 10%;
  text-align: center;
} */

/* .modal-sabich {
  visibility: hidden;
}

.modal-shop {
  visibility: hidden;
}

.visible {
  visibility: visible;
} */
