.foodtruck {
  height: 500px;
}

.foodtruck-container {
  /* margin-left: 15%; */
  margin-left: 0%;
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
  animation-duration: 3s;
  /* margin-left: 12%; */
  animation-name: move-truck;
}

.menu {
  visibility: hidden;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.menu.active {
  visibility: visible;
  animation-name: menu-zoom;
  animation-duration: 5s;
}

.pop-up-menu {
  position: absolute;
  width: 100%;
  margin-top: 10%;
  text-align: center;
}

.lifesabich-logo {
  text-align: center;
  font-size: 175px;
  margin-top: -5%;
  animation: 5s ease 0s normal fadein;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes menu-zoom {
  from {
    transform: scale(0.25);
  }
  to {
    transform: scale(1);
  }
}

@font-face {
  font-family: SabonBol;
  src: url("SabonBol.AFM");
}

@keyframes move-truck {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#text {
  font-family: SabonBol;
}

.modal-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.modal-about {
  visibility: hidden;
  position: absolute;
  width: 100%;
  margin-top: 10%;
  text-align: center;
}

.modal-sabich {
  visibility: hidden;
}

.modal-shop {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
